body{
 
     

    background-color: rgb(116, 154, 198);

  }
  table{
    width: 300%;
    border-collapse: collapse;
    border: 1px solid #000;
  }
  th{
 
    background-color:blueviolet;
    font-size: 1.5rem;
 
 
    height: 70px;
    text-align: left;
    border: 1px solid #000;
    padding: 15px;
    border-bottom: #000;
  }
  td{
    border: 1px solid #000;
    height:70px ;
    border-collapse: collapse;
    border-radius: 50px;
    text-align: left;
    vertical-align: top;
    padding: 15px;
    border-bottom: #000;
  }
  tr:nth-child(even){

  background-color:blueviolet ;
  }
  .tableData{
    font-size: 1.5rem;
  }

  .dataTable{
    width: 100%;
    
 
  }